/* navigation */

.navbar,
.navbar,
.navbar-light,
.bg-light {
  background-color: #0a7d94 !important;
  padding-right: 50px;
}

.nav-link {
  color: white !important;
  font-family: "Baloo Paaji 2" !important;
}
.nav-link:hover {
  color: #aeffb4 !important;
  font-family: "Baloo Paaji 2" !important;
}
.nav-link:active {
  color: #aeffb4 !important;
  font-family: "Baloo Paaji 2" !important;
}
.navbar-brand {
  padding-left: 10px;
}

/* jumbotron */
.jumbotron {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Baloo Paaji 2" !important;
  color: white;
}

/* Hero Space jumbotron */
.jumbotron {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Brand Header */
.brand {
  height: 150px;
  background-color: #0e5770;
}

.logoheader {
  background-color: #0e5770;
  text-align: center;
  padding: 50px;
  padding-bottom: 80px;
}
/*h2 {
    font-family: "Baloo Paaji 2" !important;
    color: #004F5F;
    background-color: #FCF4F2 !important;
    text-align: center;
    padding: 50px;
    font-size: 50px;
}*/

h3 {
  font-family: "Baloo Paaji 2" !important;
  color: #0a7d94;
  background-color: white !important;
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  font-size: 40px;
}

/* How it Works */

.row {
  height: 300px;
  padding-bottom: 50px;
}
.col-sm {
  height: 300px;
  padding: 30px;
  padding-bottom: 100px;
}
.rounded {
  height: 300px;
  padding: 20px;
}

.row {
  height: 300px;
}
.col-sm {
  height: 300px;
}

.steps {
  padding: 20px;
  height: 300px;
}

/* how to video */
.video {
  background-image: linear-gradient(rgb(148, 220, 238), rgb(133, 177, 235));
  margin-top: 60px;
  margin-bottom: 60px;
}

.video-body{
  padding-bottom:60px ;
}

.video h5 {
  display: flex;
  justify-content: center;
  font-family: "Baloo Paaji 2" !important;
  font-size: 40pt;
  color: rgb(0, 65, 85);
}
img.videoresize {
  max-width: 60%;
  max-height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.steps {
  padding: 20px;
  height: 300px;
  padding: 20px;
  height: 300px;
}

/* Banner: the following contains the css for the banner with the plastic bottles */
.banner {
  background-image: linear-gradient(to right, #cef9ce, #82cdcd, #d2ebff);
  font-family: "Baloo Paaji 2";
  color: #027492;
  margin-top: 200px;
  margin-bottom: 200px;
}

.banner h1 {
  padding: 56px;
}

.banner img {
  padding-left: 56px;
  padding-right: 56px;
}

.bannerContainer .col-sm {
  display: flex;
  align-items: center;
}

/* Bottom Banner */
.bottomBanner {
  background-image: url(../Images/beach.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}


.bottomBanner h1 {
  max-width: 500px;
  display:flex;
  float:left;
}


@media all and (max-width: 500px) {
  body{
    
  }
}