/* navigation */

.navbar,
.navbar,
.navbar-light,
.bg-light {
  background-color: #0e5770 !important;
  padding-right: 50px;
}

.nav-link {
  color: white !important;
  font-family: "Baloo Paaji 2" !important;
}
.nav-link:hover {
  color: #aeffb4 !important;
  font-family: "Baloo Paaji 2" !important;
}
.nav-link:active {
  color: #aeffb4 !important;
  font-family: "Baloo Paaji 2" !important;
}
.navbar-brand {
  padding-left: 10px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/* jumbotron */
.jumbotron {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Baloo Paaji 2" !important;
  color: white;
}

/* THIS LOOKS LIKE IT IS A COPY OF THE ABOVE? 
Hero Space jumbotron 
.jumbotron {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
/*  TRYING TO ADD A BETTER TRANSITION INTO RESPONSIVE LAYOUT:
.display-4{
  max-width: 500px;
 align-items: center;
}
*/

/* Brand Header */
.brand {
  height: 150px;
}

.logoheader {
  background-image: linear-gradient(
    to bottom right,
    rgb(14, 87, 112),
    rgb(47, 170, 165),
    rgb(130, 205, 205)
  );
  background-image: linear-gradient(to top left, rgb(14, 87, 112), rgb(47, 170, 165), rgb(130, 205, 205));
  text-align: center;
  padding: 50px;
  padding-bottom: 60px;
  padding-top: 60px;
}

/* How it Works */

h3 {
  font-family: "Baloo Paaji 2" !important;
  color: #0a7d94;
  background-color: white !important;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-right: 30px;
  font-size: 40px;
}

.row {
  height: 300px;
  padding-bottom: 50px;
}
.col-sm {
  height: 300px;
  padding: 30px;
  padding-bottom: 100px;
}

.steps {
  padding: 20px;
  height: 300px;
  padding-bottom: 150px;
}

.container {
  padding-bottom: 100px;
}

/* how to video */
.video {
  background-image: linear-gradient(rgb(148, 220, 238), rgb(133, 177, 235));
  margin-top: 60px;
  margin-bottom: 60px;
}

.video-body {
  padding-bottom: 100px;
}

.video h5 {
  display: flex;
  justify-content: center;
  font-family: "Baloo Paaji 2" !important;
  font-size: 40pt;
  color: rgb(0, 65, 85);
  padding-top: 60px;
}

img.videoResize {
  max-width: 60%;
  max-height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.steps {
  padding: 20px;
  height: 300px;
  padding: 20px;
  height: 300px;
}

/* Banner: the following contains the css for the banner with the plastic bottles */
.banner {
  background-image: linear-gradient(to right, #cef9ce, #82cdcd, #d2ebff);
  font-family: "Baloo Paaji 2";
  color: #027492;
  margin-top: 200px;
  margin-bottom: 200px;
  padding-top: 80px;
}

.banner h1 {
  padding: 56px;
}

.banner img {
  padding-left: 56px;
  padding-right: 56px;
}

.bannerContainer .col-sm {
  display: flex;
  align-items: center;
}

/* Bottom Banner */
.bottomBanner {
  background-image: url(../Images/beach.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 550px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomBanner h1 {
  max-width: 500px;
  display: flex;
  float: left;
}



/* NAVBAR Animation
@media screen and (max-width: 1024px) {
 .nav-links{
   width: 60%;
  }
}
*/

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 8vh;
    background-color: #0e5770;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  /*
  .nav li {
    opacity: 0;
  }
*/
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

/* END OF NAVBAR ANIMATION */

/* ABOUT PAGE CSS */

form {
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 20px;
  padding-bottom: 100px;
  font-family: "Open Sans";
  background-image: linear-gradient(to right, #79afac, #82cdcd, #9fc4e2);
  color:rgb(1, 42, 58);
}

.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.subscribeTitle {
  background-image: linear-gradient(to right, #79afac, #82cdcd, #9fc4e2);
  color:rgb(0, 22, 31);
  font-family: "Baloo Paaji 2" !important;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  padding-top: 100px;
  padding-right: 30px;
  font-size: 40px;
}

.btn-primary {
  background-color: rgb(220, 255, 250);
  font-weight: bold;
  color:rgb(0, 22, 31)
}






  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
