
/* navigation */
.navbar, .navbar, .navbar-light, .bg-light {
    background-color: #0A7D94 !important;
    padding-right: 50px;

}

.nav-link {
  color: white !important;
  font-family: "Baloo Paaji 2" !important;
}

.navbar-brand {
  padding-left: 10px;
}

.rounded {
  height: 300px;
  padding: 20px;
}

.row {
  height: 300px;
}
.col-sm {
  height: 300px;
}

.steps {
  padding: 20px;
  height: 300px;
}

/* jumbotron */
.jumbotron {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Baloo Paaji 2" !important;
  color: white;
}

/* Banner: the following contains the css for the banner with the plastic bottles */
.banner {
  background-image: linear-gradient(to right, #cef9ce, #82cdcd, #d2ebff);
  font-family: "Baloo Paaji 2";
  color: #027492;
}
.banner h1 {
  padding: 56px;
}

.banner img {
  padding-left: 56px;
  padding-right: 56px;
}

/* Brand Header */

.brand {
    height: 150px;
    background-color: #0E5770;
}

.logoheader {
    background-color: #0E5770;
    text-align: center;
    padding: 50px;
    padding-bottom: 80px;
}
/*h2 {
    font-family: "Baloo Paaji 2" !important;
    color: #004F5F;
    background-color: #FCF4F2 !important;
    text-align: center;
    padding: 50px;
    font-size: 50px;
}*/

h3 {
    font-family: "Baloo Paaji 2" !important;
    color: #0A7D94;
    background-color: white !important;
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    font-size: 40px;
}

/* How it Works */

.row {
    height: 300px;
}
.col-sm {
    height: 300px;
    padding: 30px;
}

.steps {
    padding: 20px;
    height: 300px;
}